body {
    background-image: url(https://images.pexels.com/photos/4026905/pexels-photo-4026905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
   font-family: Tahoma, Verdana, sans-serif;   
   padding: 0%;
     margin: 0%;
} 
h1 {
     text-align: center;
     color: #99004d;
     font-size: 50px;
}
h2 {
     color: #99004d;
     font-size: 25px;
}
h5 {
     color: #99004d;
}
div {
     width: 96%;
     margin: 0 auto;
}
aside, main {
     width: 30%;
}
iframe {
     float: center;
}
a:link {
  color: #99004d;
}


a:visited {
  color: #99004d;
}


a:hover {
  color: white;
}

#time{
   padding: 15px;
   background: #232323;
   color: white;
   display: inline-block;
   font-weight: bold;
   border-radius: 4px;
}